[submodule "JS07 - Landing page"]
	path = JS07 - Landing page
	url = https://github.com/sophiacrds/Landing-Page-LOL-VNW
[submodule "REACT01 - Contador"]
	path = REACT01 - Contador
	url = https://github.com/sophiacrds/Contador-React-VNW
[submodule "REACT02 - Calculadora"]
	path = REACT02 - Calculadora
	url = https://github.com/sophiacrds/Calculator-REACT
[submodule "ENG02 - Mobile First"]
	path = ENG02 - Mobile First
	url = https://github.com/sophiacrds/Flavo-MobileFirst-VNW
[submodule "REACT03 - Todo list"]
	path = REACT03 - Todo list
	url = https://github.com/sophiacrds/TodoList-VNW
[submodule "R06 - Components e Props"]
	path = R06 - Components e Props
	url = https://github.com/sophiacrds/Pratica-Components
